<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warehouse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 text-center">
                <h1><a href="/"><button class="btn btn-success" type="submit">Main Page</button></a></h1>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <h1>{{name.name}} {{name.type}}! </h1>
            </div>
        </div>
    </div>
    <div class="container 2">
        <div class="row">
            <div class="col-xs-12 col-md-3 text-center">
                <h5><button class="btn btn-primary" id="addBin">Add Bin</button></h5>
                {{#if perm}}
                <h5><button class="btn btn-primary" id="allUsers">View Users</button></h5>
                <h5><button class="btn btn-primary" id="userFormButton">Add User</button></h5>
                {{/if}}
                <h5>
                    <select id="binSelector" class="form-control text-center">
        <option value="">Select Bin</option>
  {{#each bins}}
  <option value="{{this._id}}">Bin - {{this.number}}</option>
  {{/each}}
                 </select>
                </h5>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <div class="well">
                    <h5><input id="addItem" placeholder="Scan New Item Here" /></h5>
                    <ul id="items">
                    </ul>
                    {{#if perm}}
                    <div id="form">
                        <h5><input id="fullUserName" placeHolder="Full Name" /></h5>
                        <h5><input id="userPermissions" placeHolder="Permissions" /></h5>
                        <h5><input id="newUserName" placeHolder="User Name" /></h5>
                        <h5><input id="newUserPassword" placeholder="Password" /></h5>
                        <h5><button class="btn btn-primary" id="newUserSubmit">Submit New User</button></h5>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="col-xs-12 col-md-3 text-center">
                <h5 class="userText">{{user}} has logged in</h5>
                <h5><button class="btn btn-warning" id="logOutButton">Log Out</button></h5>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="/javascripts/utils.js"></script>
    <script src="/javascripts/admin.js"></script>
    <script src="/javascripts/contents.js"></script>

</body>

</html>